body {
	font-family: Inconsolata-Regular;
	margin: 0px;
	background: rgb(41,41,41);
}

input {
	font-family: Inconsolata-Regular;
	font-size: 4vw;
	height:100%;
	width:50%;
	font-color:red;
	text-align:center;
}

button {
	font-size: 4vw;
	height:100%;
	/*width:40%;*/
	width:25%;
}

#title {
	font-size: 4vw;
	width:25%;
	text-align:center;
}

.navbar {
	height: 15vh;
	display: flex;
	align-items: center;
	background-color: white;
}