body {
	font-family: Inconsolata-Regular;
	margin: 0px;
	background: rgb(41,41,41);
}

button {
		font-family: Inconsolata-Regular;
		font-size:4vw;
		/*text-shadow: 2px 2px black;*/
		color: black;
		/*border-radius:2px;*/

}

/*rgb(25,213,72)*/


.client {
	width:30vw;
	height:30vh;
	background-color:white;
	margin:1em;
	/*padding:1em;*/
}

.client.username {
	font-size: 3vw;
	/*display:inline;*/
	width:100%;
	height:15%;
	color:white;
	text-align:center;
	padding-top:2.5%;
	padding-bottom:2.5%;
	margin:0em;

	background-color:black;
}

.client.toolbar {
	height:10%;
	width:100%;
	margin:0em;
	background-color: grey;
	/*display:inline;*/

}

.client.artists {
	height:60%;
	margin:0em;
	/*display:inline;*/


}


.client.status {
	font-size:3vw;
	margin:0em;
	/*position:.relative;*/
	height:10%;
	color:red;
	background-color:yellow;
	bottom:0px;
	left:0px;
}


.mmb {
	font-family: Inconsolata-Regular;
	/*font-size: 4vw;*/

}

#username {
	font-size: 4vw;
	align-items: center;
	display: flex;
	text-align:center;
}

#title {
	font-size: 4vw;
	width:20vw;
	text-align:center;
}

.navbar {
	height: 14vh;
	display: flex;
	align-items: center;
	background-color: white;
	box-sizing:border-box;
	margin:0px;
}